<h1>Options</h1>

<h4></h4><%= link_to 'Book a room', bookings_url %></h4><br>
<h4></h4><%= link_to 'Add room', new_room_url %></h4><br>
<h4></h4><%= link_to 'Delete a room', rooms_url %></h4><br>
<h4></h4><%= link_to 'Add admin', new_admin_url %></h4><br>
<h4></h4><%= link_to 'Remove admin', admins_url %></h4><br>