<p id="notice"><%= notice %></p>

<% sizes = [["---",0],["Small(4)",4],["Medium(6)",6],["Large(12)",12]] %>
<% status = [["---",0],["Available",1],["Booked",2]] %>

<h1>Room Search</h1>

<%= form_tag("/bookings/search", method: "post") do %>

    <%# Rooms %>
    <%= label_tag(:room, "Room") %>
    <%= select_tag(:room, grouped_options_for_select(@rooms_array)) %>

    <%# Room Size %>
    <%= label_tag(:room_size, "Room Size") %>
    <%= select_tag(:room_size, options_for_select(sizes, sizes[0][1])) %>

    <%# Booking Status %>
    <%= label_tag(:status, "Status") %>
    <%= select_tag(:status, options_for_select(status, status[0][1])) %>

    <%# Date %>
    <%= label_tag(:start_date, "Start Date") %>
    <%= date_select :booking, :start_date %>

    <%# Time %>
    <%= label_tag(:start_time, "Start Time") %>
    <%= time_select :booking, :start_time %>

    <%= submit_tag("Search Rooms") %>

<% end %>

</br></br></br>


<br>

<%= link_to 'New Booking', new_booking_path %>
