<!DOCTYPE html>
<html lang="en">

<head>
  <title>Make a Booking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<div class="container-fluid">

  <h1><span class="label label-default">Make a Booking</span></h1>
  </br></br>

  <%= form_tag("/bookings/quickbook", method: "post") do %>

      <% if isAdmin %>
          <div class="row">

            <label class="col-sm-2 control-label  text-right">Enter Organizer's Email ID</label>
            <div class="col-sm-10">
              <input class="form-control" id="focusedInput" type="text" name="organizer" placeholder="e.g. sam@ncsu.edu">
            </div>

          </div>
          </br></br>
      <% end %>


      <div class="row">

        <label class="col-sm-2 control-label  text-right">Enter Participants' Email IDs (optional)</label>
        <div class="col-sm-10">
          <input class="form-control" id="focusedInput" type="text" name="participants" placeholder="e.g. rob@ncsu.edu, sharon@ncsu.edu">
        </div>

      </div>

      </br></br>


      <div class="row">

        <%# Date %>
        <%= label_tag(:start_date, "Start Date", :class=>"col-sm-2 control-label  text-right") %>
        <div class="col-sm-2">
          <input type="date" name="booking_date" class="form-control" value="<%= Date.today.to_s %>">
        </div>

        <%# Time %>
        <%= label_tag(:start_time, "Start Time", :class=>"col-sm-1 control-label text-right") %>
        <div class="col-sm-2">
          <input type="time" class="form-control" name="booking_time" value="<%= Time.now.strftime("%H:%M") %>">
        </div>


        <%# Room selector %>
        <label class="control-label text-right col-sm-1 control-label">Room</label>
        <div class="col-sm-2">
          <select name="room_id" class="form-control">
            <% Room.all.each do |r| %>
              <% bld = r[:building].to_i==0 ? "Hunt" : "DH Hill" %>
              <% room = "Room "<< r[:number].to_s << " (" << bld << ")" %>
              <option value="<%= r[:id] %>"><%= room %></option>
            <% end %>
          </select>
        </div>

      </div>

      </br></br>


      <div class="row">
        <div class="col-sm-12">
          <input type="submit" value="Book" class="btn btn-success center-block">
        </div>

      </div>

  <% end %>

  </br></br></br>


  <br>

  <%= link_to 'New Booking', new_booking_path %>

</div>
</html>

<%= link_to 'Back', bookings_path %>
