<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Library Manager App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style>
      #logout_button {
        background-color: #000000;
        border: none;
        color: #9d9d9d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
  </head>

  <body>

  <header class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Home" , home_path %></li>
            <li><%= link_to "Contact", homepage_contact_path %></li>
            <li><%= link_to "About", homepage_about_path %></li>

            <% if logged_in? %>
              <li><%= link_to "Make a booking", bookings_makebooking_url%></li>
            <% end %>

            <% if admin_logged_in? %>
                <li><%= link_to "Menu", admins_options_url %></li>
            <% end %>

            <% if !logged_in? %>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign up",   signup_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>
  <div class="container" style="text-align: right; " >
    <% if logged_in? %>
      <%= button_to "Logout", logout_path, method: "delete", class: "btn btn-danger" %>
        <% end %>
  </div>
    <div class="container">
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
